<!DOCTYPE html>
<html lang="en">

</head>

<body>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Learnt</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
   <link rel="stylesheet" href="/styles/resource-feed.css" type="text/css" />
  <link rel="stylesheet" href="/styles/addnew.css" type="text/css" />



  </head>

  <body>
<div class="menu">
    <div class="container-fluid">
    <div class="navbar-header">
      <a href="#">welcome to LEARNT</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <h1 style="padding-left: 10px"> Welcome to Learnt </h1> -->


<button id="add-button" type="button" class="btn btn-primary">Add a resource</button>
   <section class="new-resource">

  <div class="form-group">
    <label for="url" class="label">URL</label>
    <input type="url" class="form-control" id="exampleInputEmail1" name="url" aria-describedby="emailHelp" placeholder="Enter your resource's URL">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="label">Title</label>
    <textarea class="form-control" id="exampleInputPassword1" name="title" placeholder="Give it a title">
  </div>
   <div class="form-group">
    <label for="exampleTextarea" class="label">Description</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleSelect1" class="label">Select a topic category</label>
    <select class="form-control" id="exampleSelect1" name="category">
      <option id="Javascript">Javascript</option>
      <option id="Databases">Databases</option>
      <option id="HTML/CSS">HTML/CSS</option>
      <option id="AJAX">AJAX</option>
      <option id="jQuery">jQuery</option>
      <option id="node">node</option>
    </select>
     <input type="submit" value="Submit">
  </div>
</section>

 <!--  <form action="/user_id/resource" method="POST" style="padding-left: 10px">

        <form id="tweet-form" action="/tweets" method="POST">
          <textarea id="text-area" name="text" placeholder="Add a URL"></textarea>
          <textarea id="text-area" name="text" placeholder="Add a title"></textarea>
          <textarea id="text-area" name="text" placeholder="Add a description"></textarea>
          <textarea id="text-area" name="text" placeholder="Add a category"></textarea>
          <input id="tweet-button" type="submit" value="Add new">
        </form> -->


    <!-- Main jumbotron for a primary marketing message or call to action -->

      <hr>


    <div class="container">
     <section class="resource-feed">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        </section>
      </div>


   <hr>


    </div> <!-- /container -->
<div class="container">
<button id="search-button" type="button" class="btn btn-primary">Search for resources</button>

<div class="form-group">
<!-- <label for="categories" class="col-sm-2 control-label">By category:</label> -->
        <div>
        <select class="form-control selcls" id="categories">
          <option>Select a topic...</option>
          <option>Javascript</option>
          <option>Databases</option>
          <option>HTML/CSS</option>
          <option id="AJAX">AJAX</option>
          <option id="jQuery">jQuery</option>
          <option id="node">node</option>
        </select>

        </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
     <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>


</body>
</html>
