    <section class="new-resource">

    <button class="addButton" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Add a new resource</button>

      <form id="add-new" action="/user_id/resource" method="POST">
        <textarea class="add-area" id="url" name="text" placeholder="Paste your url here"></textarea>
        <textarea class="add-area" id="title" name="text" placeholder="Give it a title"></textarea>
        <textarea class="add-area" id="description" name="text" placeholder="Write a description"></textarea>
        <textarea class="add-area" id="category" name="text" placeholder="Pick a category"></textarea>
        <input id="add-button" type="submit" value="Add">
      </form>
    </section>