 <section class="search">
      <div class="dropdown open">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search by category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Category 1</a>
          <br>
          <a class="dropdown-item" href="#">Category 2</a>
          <br>
          <a class="dropdown-item" href="#">Category 3</a>
          <br>
        </div>
      </div>
    </section>