.new-resource {
   width: 70%;
   padding: 10px;
   margin-left: 70px;
}

#add-button {
  margin-top: 100px;
  margin-left: 70px;

}

 /* border-radius: 10px;
  background-color: #d3d3d3;
  border: 1px solid black;

  margin: 10px;
  padding: 10px;
}

#add-button {
  margin: 4px;
}*/
